

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @team.age_group %>
</p>

<p>
  <strong>Coach/manager:</strong>
  <%= @team.coach_manager %>
</p>

<%= link_to 'Edit', edit_team_path(@team), class:"btn btn-dark" %> 
<%= link_to 'Back', teams_path, class:"btn btn-dark" %>
